﻿@page
@model RssReader.Web.Pages.IndexModel
@{
}


@foreach (var item in Model.TitleList)
{
    @Html.Raw(item)
    <br />
}

@*@if (Model.SummaryList.Count() > 0)
{
    @foreach (var item in Model.SummaryList)
    {
        @Html.Raw(item.Text)
        <br />
        <br />
    }
}
@if (Model.ContentList.Count() > 0)
{
    @foreach (var item in Model.ContentList)
    {
        @Html.Raw(item.Text)
        <br />
        <br />
    }
}*@